.breadcrumb {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.breadcrumb li {
    display: inline;
    white-space: nowrap;
}

.breadcrumb li+li:before {
    content: ">";
    padding: 0.3rem;
}

.container {
    max-width: 700px;
}

#nav a {
    font-weight: bold;
    color: inherit;
}
#nav-border {
    border-bottom: 1px solid #212529;
}

#main {
    margin-top: 1em;
    margin-bottom: 4em;
}

#home-jumbotron {
    background-color: inherit;
}

.font-125 {
    font-size: 125%;
}

.tag-btn {
    margin-bottom: 0.3em;
}

img {
    max-width: 100%;
}
