{{ define "main" }}
<article>
    <heading>
        <h1>{{ .Title }}</h1>
    </heading>
    {{ .Content }}
    
    {{ range .Pages.ByPublishDate.Reverse }}
        <article>
            <header>
                <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
            </header>
            {{ .Summary }}
            {{ if .Truncated }}
                <div>
                    <a href="{{ .RelPermalink }}">Read more...</a>
                </div>
            {{ end }}
        </article>
    {{ end }}
</article>
{{ end }}