{{ define "main" }}
<article>
    <heading>
        <h1>{{ .Title }}</h1>
    </heading>
    {{ .Content }}
    
    {{ range .Pages.ByPublishDate.Reverse }}
        <article>
            <div>
                <h2>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
                <p>
                    {{ partial "date-and-tags.html" . }}
                </p>
                {{ .Summary }}
            </div>
            {{ if .Truncated }}
                <div>
                    <a href="{{ .RelPermalink }}">Read more...</a>
                </div>
            {{ end }}
        </article>
    {{ end }}
</article>
{{ end }}